/* колір тексту заголовків rgba(33, 33, 33, 1); */
/* колір тексту параграфів rgba(117, 117, 117, 1); */
/* колір фону сторінки Background #E5E5E5 */
/* колір фону кнопки синій  rgba(33, 150, 243, 1) */
/* колір фону кнопки сірий rgba(245, 244, 250, 1) */
/* колір тексту кнопок білий rgba(255, 255, 255, 1) */
:root {
  --primary-text-color: rgba(33, 33, 33, 1);
  --title-text-color: rgba(117, 117, 117, 1);
  --accent-color: #2196f3;
  --wite-color: rgba(255, 255, 255, 1);
  --wite-adres-color: rgba(255, 255, 255, 0.6);
  --background-features-work-color: #e5e5e5;
  --background-team-color: #f5f4fa;
  --background-hero-footer-color: rgba(47, 48, 58, 1);
  --background-buttons-color: rgba(245, 244, 250, 1);
}

body {
  color: var(--primary-text-color);

  font-family: "Roboto", sans-serif;
}

/* ul обнуляємо маржени */

.list {
  margin-top: 0;
  margin-bottom: 0;
}

/* header */

.header-nav {
  display: flex;
  align-items: center;
}

.heading {
  background-color: var(--wite-color);
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1170px;
  /* outline: 2px solid tomato; */
  /* background-color: turquoise; */
}

/* убераємо підкреслення у посилань */

.heading a {
  text-decoration: none;
}

/* прибираємо крапки у перелічуваннях */

.heading ul {
  list-style: none;
}

/* main */

.logo {
  margin-right: 93px;
  color: var(--primary-text-color);
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.2;
  text-align: left;
  vertical-align: Top;
  letter-spacing: 0.03em;
}

.logo:focus,
.logo:hover {
  color: var(--accent-color);
}

.logo-web {
  color: var(--accent-color);
}

/* site-nav */
.site-nav {
  display: flex;
  padding-left: 0;
}

.site-nav .item + .item {
  margin-left: 50px;
}

.site-nav .site-nav a {
  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.site-nav .stydio.current {
  color: var(--accent-color);
}
.site-nav .portfolio.current {
  color: var(--accent-color);
}

.nav:hover,
.nav:focus {
  color: var(--accent-color);
}

/* auth-nav */
.auth-nav {
  display: flex;
  margin-left: 331px;
  padding-left: 0;
}

.auth-nav .item + .item {
  margin-left: 50px;
}

.auth-nav a {
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* hero */
.hero {
  background-color: var(--background-hero-footer-color);
  text-align: center;
}

.hero-title {
  color: var(--wite-color);
  margin-top: 0;
  margin-bottom: 30px;
  /* background-color: violet; */

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-button:hover,
.hero-button:focus {
  color: var(--primary-text-color);
}

/* button */

.hero-button {
  background-color: var(--accent-color);
  color: var(--wite-color);
  cursor: pointer;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  /* display: flex; */
  /* align-items: center; */
  /* text-align: center; */
  letter-spacing: 0.06em;
}

/* features */

.features-item {
  display: flex;
  justify-content: center;
  padding-left: 0;
}

.features-item .item + .item {
  margin-left: 30px;
}
.features {
  background-color: var(--background-features-work-color);
}

.features h2 {
  margin-top: 0;
  margin-bottom: 0;
}

.features-title {
  color: var(--primary-text-color);
  margin-top: 94px;
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.features-description-title {
  color: var(--title-text-color);
  margin-top: 0;
  margin-bottom: 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

/* work */

.work {
  background-color: var(--background-features-work-color);
}

.work-list {
  display: flex;
  padding-left: 0;
}

.work-list .item + .item {
  margin-left: 30px;
}

.work-title {
  color: var(--primary-text-color);
  margin-top: 94px;
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

/* tiam */

.tiam {
  background-color: var(--background-team-color);
}

.tiam-list {
  display: flex;
  padding-left: 0;
  margin-bottom: 94px;
}

.tiam-list .item + .item {
  margin-left: 30px;
}

.tiam-title {
  color: var(--primary-text-color);
  margin-top: 94px;
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.tiam-name {
  color: var(--primary-text-color);
  margin-top: 30px;
  margin-bottom: 10;
  text-align: center;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
}

.tiam-name-title {
  color: var(--title-text-color);
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;

  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
}

/* footer */

.page-footer {
  background-color: var(--background-hero-footer-color);
}

.page-footer ul {
  list-style: none;
}

.page-footer a {
  text-decoration: none;
}

.address:hover,
.address:focus,
.footer-address:hover,
.footer-address:focus {
  color: var(--accent-color);
}

.logo-footer {
  display: block;
  color: var(--wite-color);
  margin-bottom: 20px;

  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.logo-footer:focus,
.logo-footer:hover {
  color: var(--accent-color);
}

.logo-footer-web {
  color: var(--accent-color);
}

.footer-address {
  color: var(--wite-adres-color);

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
.address {
  color: var(--wite-color);

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.address-list {
  padding-left: 0;
}

/* портфоліо фільтр */

.mainly h1 {
  margin-top: 0;
  margin-bottom: 0;
}

.filter {
  display: flex;
  justify-content: center;
}

.filter .item + .item {
  margin-left: 8px;
}

.filter button {
  color: var(--primary-text-color);
  background-color: var(--background-buttons-color);
  cursor: pointer;
  margin-top: 94px;
  margin-bottom: 34px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
}

.filter-button:hover,
.filter-button:focus {
  color: var(--wite-color);
  background-color: var(--accent-color);
}

/* портфоліо проекти */

.list-portfolio {
  display: flex;
  flex-wrap: wrap;
}

.list-portfolio .item:not(:nth-child(3n + 1)) {
  margin-left: 30px;
}

.list-portfolio .item:nth-child(n + 7) {
  margin-bottom: 94px;
}

.list-portfolio .item:nth-child(-n + 6) {
  margin-bottom: 30px;
}

/* .list-portfolio .item {
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
} */

.projeck {
  color: var(--primary-text-color);
  margin-top: 20px;
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.projeck-title {
  color: var(--title-text-color);
  margin-top: 0;
  margin-bottom: 0;

  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
}

.mainly {
  background-color: var(--background-features-work-color);
}

.mainly ul {
  list-style: none;
  padding-left: 0;
}
